<div class="new-test">
  <div class="test-title">
    <label for="title">
      Test title
    </label>
    <input id="title" type="text" ng-model="ntec.newTest.title" placeholder="Enter the test title" required/>
  </div>
  <button class="select-questions" ng-click="ntec.addGroup()">Select questions</button>
  <table>
    <thead>
    <tr>
      <th>Topic</th>
      <th>Difficulty</th>
      <th>Type</th>
      <th>Number of questions</th>
      <th>Confirm selection</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="group in ntec.taskGroups track by $index">
      <td>
        <select class="select-topic" ng-model="ntec.taskGroups[$index]['topic']">
          <option value="" selected="selected">Select a topic</option>
          <option ng-repeat="topic in ntec.topics" value="{{topic}}">{{topic}}</option>
        </select>
      </td>
      <td>
        <select class="select-difficulty" ng-model="ntec.taskGroups[$index]['difficulty']">
          <option value="" selected="selected">Select a difficulty level</option>
          <option value="easy">easy</option>
          <option value="medium">medium</option>
          <option value="advanced">advanced</option>
        </select>
      </td>
      <td>
        <select class="select-type" ng-model="ntec.taskGroups[$index]['type']">
          <option value="" selected="selected">Select a task type</option>
          <option value="multiple-choice">multiple-choice</option>
          <option value="open">open</option>
        </select>
      </td>
      <td>
        <input type="number" min="1" ng-model="ntec.taskGroups[$index]['number']"/>
      </td>
      <td>
        <button class="add-selection" ng-click="ntec.submitTaskGroup(ntec.taskGroups[$index])" ng-disabled="ntec.taskGroups[$index]['submitted']">Add selection</button>
        <span class="error-message" ng-show="ntec.taskGroups[$index]['validity'] === false">{{ntec.taskGroups[$index]['validityErrorMessage']}}</span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
