@mixin button($height, $width) {
  background-color: white;
  border: 1px solid #d1d5d4;
  height: $height;
  width: $width;
  border-radius: 3px;
  color: #665c5a;
}
.new-test {
  .test-title {
    margin-top: 2%;
    label {
      font-weight: normal;
      padding-right: 10px;
    }
  }
  button.select-questions {
    margin-top: 2%;
    @include button(35px, 164px);
  }
  th {
    width: 20%;
    text-align: center;
  }
  td {
    vertical-align: middle;
    select {
      //position: relative;
      width: 80%;
      margin-left: 10%;
    }
    .add-selection {
      @include button(30px, 80%);
      margin-left: 10%;
      &[disabled='disabled'] {
        opacity: 0.7;
      }
    }
  }
  .error-message, .new-test-form-error-message {
    display: inline-block;
    color: red;
    font-size: small;
    text-align: center;
    margin-left: 10%;
  }
}
