<div class="new-task">
  <div class="new-task-header">Create new task</div>
  <form>
    <div class="task-type">
      <label for="types">
        Task type
      </label>
      <select id="types" required>
        <option value="" selected="selected">Select a task type:</option>
        <option value="Multiple-choice">Multiple-choice</option>
        <option value="Open">Open</option>
      </select>
    </div>
    <div class="task-topic">
      <label for="topic">
        Topic
      </label>
      <input id="topic" type="text" placeholder="Enter the topic of the task:"/>
    </div>
    <div class="task-difficulty">
      <label for="difficulty">
        Difficulty
      </label>
      <select id="difficulty" required>
        <option value="" selected="selected">Select a difficulty level:</option>
        <option value="Easy">Easy</option>
        <option value="Medium">Medium</option>
        <option value="Advanced">Advanced</option>
      </select>
    </div>
    <div class="task-question">
      <label for="question">
        Question text
      </label>
      <input id="question" type="text" placeholder="Enter the question text:"/>
    </div>
    <div class="multiple-choice-wrapper">
      <div class="task-options">
        <span>Options</span>
        <label for="optionA">
          A
        </label>
        <input id="optionA" type="text"/>
        <label for="optionB">
          B
        </label>
        <input id="optionB" type="text"/>
        <label for="optionC">
          C
        </label>
        <input id="optionC" type="text"/>
        <label for="optionD">
          D
        </label>
        <input id="optionD" type="text"/>
      </div>
      <div class="task-solution">
        <label for="solution">
          Answer
        </label>
        <select id="solution" required>
          <option value="" selected="selected">Select the correct answer:</option>
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
        </select>
      </div>
    </div>
  </form>
</div>
