table {
  position: relative;
  width: 100%;
  //background-color: #00b3ee;
  margin-top: 2%;
  margin-bottom: 2%;
}

th {
  height: 30px;
  background-color: #d1d5d4;
  //position: sticky;
  .header-item {
    margin-left: 5px;
  }
}

tbody tr {
  height: 40px;
  border-bottom: 1px solid #cfeae7;
  &:nth-child(odd) {
    background-color: white;
  }
  &:nth-child(even) {
    background-color: #d8f1ee;
  }
  td {
    margin-left: 5px;
  }
}
