@mixin fonts($size, $style: normal) {
  font-family: Verdana;
  font-size: $size;
  font-weight: bold;
  font-style: $style;
  color: white;
}

header {
  background-color: #8baddc;
  height: 50px;
  margin-left: 110px;
  .dashboard {
    @include fonts(25);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .welcome {
    @include fonts(25);
    display: inline;
    float: right;
  }
}
