@mixin fonts($size, $style: normal) {
  font-family: Verdana;
  font-size: $size;
  font-weight: bold;
  font-style: $style;
  color: white;
}

header {
  background-color: #9ffbdc;
  height: 50px;
  .productName {
    @include fonts(30, italic);
    display: inline;
  }
  .dashboard,
  .welcome {
    @include fonts(25);
    display: inline;
  }
}
