<nav>
  <div class="logo"></div>
    <ul>
      <li ng-class="{active: sc.isTabSelected('tasks')}">
        <a href ng-click="sc.selectTab('tasks')">
          <span>Tasks</span>
        </a>
      </li>
      <li ng-class="{active: sc.isTabSelected('tests')}">
        <a href ng-click="sc.selectTab('tests')">
          <span>Tests</span>
        </a>
      </li>
      <li ng-class="{active: sc.isTabSelected('assessments')}">
        <a href ng-click="sc.selectTab('assessments')">
          <span>Assessments</span>
        </a>
      </li>
    </ul>
</nav>
